<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English to French Translation</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div id="body-container">
        <h1 id="title">Sentence Translation by Ahmad Kabalan</h1>
        <div id="translation-wrapper">
            <div>
                <form id="translate_form">
                    <h4>English sentence</h4>
                    <textarea id="english_sentence" required></textarea>
                    <button id="submit-button" type="submit">Translate</button>
                </form>
            </div>
            <div id="french_sentence_container">
                <h4>French Translation</h4>
                <p id="french_sentence"></p>
            </div>
        </div>
    </div>
    <script src="/static/index.js"></script>
</body>

</html>
