<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English to French Translation</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div id="body-container">
        <h1 id="title">Sentence Translation by Ahmad Kabalan</h1>
        <div>
            <form id="translate_form">
                <label for="english_sentence">English sentence:</label>
                <textarea id="english_sentence" name="english_sentence" placeholder="Type your sentence here..." required></textarea>
                <button id="submit-button" type="submit">Translate</button>
            </form>
        </div>
        <div id="french_sentence_container">
            <h3>French Translation</h3>
            <p id="french_sentence"></p>
        </div>
    </div>
    <script src="/static/index.js"></script>
</body>

</html>
